
</div>

<h2>Pending bookings </h2>
<div class="cards">
  <% @pending_bookings.each do |booking| %>
    <div class="card-trip">
      <%=cl_image_tag booking.car.photos.first.key, height: 300, width: 550, crop: :fill, class:"car_image" %>
      <div class="card-trip-infos">
        <div>
          <h2><%= link_to booking.car.make, car_booking_path(booking.car, booking)%></h2>
          <ul>
            <li><%= booking.car.model %></li>
            <li><%= booking.start_date %></li>
            <li><%= booking.end_date %></li>
            <li><%= booking.car.price%> Per day</li>
          </ul>
          <p>The ultimate speed test!</p>
        </div>
        <h2 class="card-trip-pricing">Total £<%= booking.total_price %></h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        <button class = "btn-flat"><%= link_to "Cancel booking", booking_path(booking.id), method: :delete %></button>
        <% if booking.review %>
        <p><%= booking.review.description %></p>
        <% else %>
        <button class = "btn-flat"><%= link_to "create a review",  new_booking_review_path(booking)%></button>
        <% end  %>
      </div>
    </div>
  <% end  %>
</div>


<h2>Confirmed bookings</h2>

<div class="cards">
  <% @confirmed_bookings.each do |booking| %>
    <div class="card-trip">
      <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/2020-mercedes-amg-gt-r-pro-126-1554739776.jpg?crop=0.723xw:0.885xh;0.173xw,0.115xh&resize=768:*" />
      <div class="card-trip-infos">
        <div>
          <h2><%= link_to booking.car.make, car_booking_path(booking.car, booking)%></h2>
          <p>The ultimate speed test!</p>
        </div>
        <h2 class="card-trip-pricing">£99.99 per day</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    </div>
  <% end  %>
</div>


<button class = "btn-flat"><%= link_to "Accept pending booking requests", my_booking_requests_path %></button>

<button class = "btn-flat"><%= link_to "back to cars", cars_path %></button>

