<h1>Car Listings</h1>
<div class="search">
  <div class="search-form">
    <%= form_tag cars_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find your dream car"%>
  </div>
    <i class="fas fa-search"><%= submit_tag "Search", class: "btn"%></i>

<% end %>
</div>
<button class="btn-flat"><%= link_to "Create a listing",new_car_path %></button>
<button class="btn-flat"><%= link_to "Back", root_path  %></button>

<div class="cards">
  <%@cars.each do |car| %>

    <%= link_to car_path(car) do %>
      <div class="card-trip">
      <% if car.photos.attached? %>
        <%=cl_image_tag car.photos.first.key, height: 300, width: 550, crop: :fill, class:"car_image" %>
        <% else  %>
        <img src="https://images.unsplash.com/photo-1489824904134-891ab64532f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="default car">
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%=car.make %> <%= car.model %>  </h2>
            <p>Available at <%= car.address %></p>
          </div>
          <h2 class="card-trip-pricing"><%= car.price %> GBP </h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  <% end %>
</div>
