<h1>Car Listings</h1>
<%= form_tag cars_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find your dream car"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<button><%= link_to "Create a listing",new_car_path %></button>
<button><%= link_to "Back", root_path  %></button>

<div class="cards">
  <%@cars.each do |car| %>

    <%= link_to car_path(car) do %>
      <div class="card-trip">
        <%=cl_image_tag car.photos.first.key, height: 300, width: 550, crop: :fill, class:"car_image" %>
        <div class="card-trip-infos">
          <div>
            <h2><%=car.make %> <%= car.model %>  </h2>
            <p>Available at <%= car.address %></p>
          </div>
          <h2 class="card-trip-pricing"><%= car.price %> GBP </h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  <% end %>
</div>
