<h1>Car Listings</h1>
<ul>
  <%@cars.each do |car| %>
    <li><%= link_to car.make, user_cars_path %></li>
    <li><<%= link_to car.model, user_cars_path %></li>
    <li><<%= link_to car.price, user_cars_path %></li>
  <% end  %>
</ul>


<button><%= link_to "create a listing",new_car_path %></button>
<button><%= link_to "back", root_path  %></button>
