
<div class="container">
  <h1><%= @car.make %></h1>
  <div class="car-show">
  <% if @car.photos.attached? %>
    <%=cl_image_tag @car.photos.first.key, class:"car_image" %>
    <% else %>
    <img src="https://images.unsplash.com/photo-1489824904134-891ab64532f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"class = "car_image" alt="">
    <% end %>
    <div class="card-trip-infos">
      <div>
        <h2><%= @car.model %></h2>
        <p>Type description!</p>
      </div>
      <h2 class="card-trip-pricing">£<%= @car.price %> per day</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
  <div></div>

  <ul>
    <%@car.reviews.each do |review|%>
    <%= review.description %>
    <%= review.rating %>
    <% end %>
  </ul>
  <div id="map" class="mb-3"
     style="width: 100%; height: 600px;"
     data-markers="<%= @marker.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

  </div>

  <button class = "btn-flat"><%= link_to "Book this car", new_car_booking_path(@car.id)  %></button>
  <% if current_user == @car.user %>
  <button class = "btn-flat"><%= link_to "Edit listing", edit_car_path  %></button>
  <button class = "btn-flat"><%= link_to "Delete listing", car_path(@car.id), method: :delete, data: { confirm: "Are you sure you want to delete this listing?"}  %></button>
   <% end %>
  <button class = "btn-flat"><%= link_to "Back to cars", cars_path  %></button>
</div>
